/* allApplications.css */
.user-applications-page {
  width: 100%;
  padding: 30px;
}

.user-applications-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user-application {
  width: 100%;
}

.user-application-body {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.application-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
